work_path:
  default_source_dir: $HOME/.config/imm/downloads
  default_archive_dir: $HOME/.config/imm/folders
  db_path: $HOME/.config/imm/db/data.db
supported_extensions: [jpg, jpeg, png, gif, webm, mp4]
rename:
  rules:
    - filename: '^(\d+_p\d+)'
      rename: 'pixiv_{1}'
    - filename: '^post-image-(\d+)'
      rename: 'sankakucomplex_{1}'
  excludes:
    - '^pixiv_\d+_p\d+$'
    - '^sankakucomplex_\d+$'
save:
  rules:
    - filename: '^pixiv_(?P<PID>\d+_p\d+)$'
      source: 'pixiv'
      group: PID
    - filename: '^sankakucomplex_(\d+)$'
      source: 'complex'
      group: 1
    - filename: '^konachan_(\d+)$'
      source: 'konachan'
  archive_time_offset: 10
download:
  waiting_interval: 10
  strategy:
    public:
      socks5: 127.0.0.1:1080
      http: 127.0.0.1:1087
      retry_count: 1
      timeout: 15
    complex:
      proxy_strategy: 0
    pixiv:
      proxy_strategy: 'always'